// Global variables declaration
$aqua-marine-1: #083a42;
$aqua-marine-2: #0c5460;
$aqua-marine-3: #106e7d;
$aqua-marine-4: #13889b;
$aqua-marine-5: #17a2b8;
$aqua-marine-6: #3cb1c3;
$aqua-marine-7: #61c0cf;
$aqua-marine-8: #86cfda;
$aqua-marine-9: #abdee5;

// https://medium.com/swlh/everything-you-need-to-know-about-designing-for-web-typography-69cec6ca8230
$headline1-desktop: 54.9px;
$headline2-desktop: 43.9px;
$headline3-desktop: 35.2px;
$headline4-desktop: 28.1px;
$headline5-desktop: 22.5px;
$body1-desktop: 18px;
$caption-desktop: 14.4px;
$tiny-desktop: 11.5px;

$headline1-desktop: 48.8px;
$headline2-desktop: 39.1px;
$headline3-desktop: 31.3px;
$headline4-desktop: 25px;
$headline5-desktop: 20px;
$body1-desktop: 16px;
$caption-desktop: 12.8px;
$tiny-desktop: 10.2px;

.App {
  text-align: center;
}
